# בוחר תמונת בסיס עם פייתון 3.11
FROM python:3.11-slim

# מגדיר ספריית עבודה בתוך המכולה
WORKDIR /app

# מעתיק את קובץ התלויות לתוך המכולה
COPY requirements.txt .

# מתקין את התלויות
RUN pip install --no-cache-dir -r requirements.txt

# מעתיק את כל קבצי הפרויקט לתוך המכולה
COPY . .

# פותח את הפורט שהשרת שלך מאזין עליו (למשל 8765)
EXPOSE 8765

# הפקודה שתופעל כשמריצים את המכולה
CMD ["py", "GameServer.py"]
